version: '3.7'

services:
  postgres-db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    ports:
      - 5432:5432
    volumes:
      - docker-nest-postgres:/var/lib/postgresql/data

  web:
    depends_on:
      - postgres-db
    build:
      context: .
    restart: always
    volumes:
      - docker-nest-uploads:/usr/src/app/uploads
    ports:
      - ${PORT}:${PORT}
    env_file:
      - .env
    stdin_open: true
    tty: true

volumes:
  docker-nest-postgres:
  docker-nest-uploads:
